*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common section  */
.btn{
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    padding: 20px 25px;
    cursor: pointer;
}
/* non-common section  */
.font-open-sense {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}
.hero{
    height: 100vh;
    background-image: url("../images/banner/banner1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 200px;
    margin-bottom: 131px;
}
.hero-content{
    max-width: 525px;
    text-align: right;
}
.hero-content h1{
    text-align: right;
    font-size: 65px;
    margin-bottom: 24px;
}
.hero-content p{
    color: #444343;
    padding-left: 70px;
    text-align: right;
    line-height: 26px;
    margin-bottom: 32px;
}

.fail-content{
    width: 74%;
    max-width: 1140px;
    margin: 0 auto;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 87px;
    margin-bottom: 131px;
}
.fail-content .img-content {
    color: #F15B2220;
    
}
.circle{
    width: 30px;
    border-radius: 50%;
    background: #F15B22;
    position: absolute;
}
.fail-content .text-content h3{
    font-size: 40px;
    margin: 0px 128px 24px 0px;
}
.fail-content .text-content p{
    color: #444343;
    line-height: 26px;
    margin-bottom: 16px;
}
.fail-content .text-content .check-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.fail-content .text-content .check-list li{
    position: relative;
    /* margin-bottom: 8px; */
    line-height: 26px;
    color: #444343;
    padding-left: 20px;
}
.check-list li::before {
  content: "✓";
  position: absolute;
  left: 0;
  top: 0;
  color: #16D887;
  font-weight: bold;
}
.plan-content{
    width: 74%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 131px;
}
.plan-content .skill-content-plan {
    display: flex;
    justify-content: space-between;
}
.plan-content .text-content-plan h3{
    font-size: 40px;
    margin-bottom: 55px;
}
.skill-content-plan .skill-card h2 {
    font-size: 30px;
    margin-bottom: 16px;
}
.skill-content-plan .skill-card p{
    color: #737272;
}
.content-box {
    height: 300px;
    width: 74%;
    max-width: 1140px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-image: url("../images/watch.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin-bottom: 131px;
    border-radius: 8px;
}
.content-box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Gradient logic: Left (solid orange) to Right (transparent) */
    background: linear-gradient(to right, rgba(231, 76, 30, 0.9) 10%, rgba(231, 76, 30, 0.4) 60%, transparent 100%);
    z-index: 1;
}
.content-box .text-content-watch{
    max-width: 460px;
    margin: 60px;
    z-index: 2;
}
.content-box .text-content-watch h3{
    font-size: 40px;
    position: relative;
    color: white;
    /* z-index: 2; */
    margin-bottom: 24px;
}
.content-box .text-content-watch .btn  , .footer-content .footer-form .btn{
    color: #F15B22;
    background-color: white;
}
footer{
    background-color: #151414;
}
.footer-content {
    width: 74%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 130px 0 67px 0;
}
.footer-content  .footer-text h3{
    font-size: 45px;
    color: #f8f8f8;
    margin-bottom: 16px;
}
.footer-content  .footer-text p{
    max-width: 485px;
    color: white;
    line-height: 26px;
    margin-bottom: 24px;
}
.footer-logo img{
    margin-right: 17px;
}
.footer-form h4{
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 31px;
}
.footer-content .footer-form form input[type="email"]{
    width: 325px;
    padding: 12px 15px;
    border: 2px solid white;
    margin-bottom: 10px;
    background-color: #151414;
    border-radius: 5px;
    color: white;
    
}
input::placeholder {
    color: white;
    opacity: 1;
}