*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common section  */
.btn{
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    padding: 20px 25px;
}
/* non-common section  */
.font-open-sense {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}
.hero{
    height: 100vh;
    background-image: url("../images/banner/banner1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 200px;
    margin-bottom: 131px;
}
.hero-content{
    max-width: 525px;
    text-align: right;
}
.hero-content h1{
    text-align: right;
    font-size: 65px;
    margin-bottom: 24px;
}
.hero-content p{
    color: #444343;
    padding-left: 70px;
    text-align: right;
    line-height: 26px;
    margin-bottom: 32px;
}

.fail-content{
    width: 74%;
    max-width: 1140px;
    margin: 0 auto;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 87px;
    margin-bottom: 131px;
}
.fail-content .img-content {
    color: #F15B2220;
}
.fail-content .text-content h3{
    font-size: 40px;
    margin: 0px 128px 24px 0px;
}
.fail-content .text-content p{
    color: #444343;
    line-height: 26px;
    margin-bottom: 16px;
}
.fail-content .text-content .check-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.fail-content .text-content .check-list li{
    position: relative;
    /* margin-bottom: 8px; */
    line-height: 26px;
    color: #444343;
    padding-left: 20px;
}
.check-list li::before {
  content: "✓";
  position: absolute;
  left: 0;
  top: 0;
  color: #16D887;
  font-weight: bold;
}